body {
  font-family: 'Open Sans';
  background-color: #000;
  color: #fff;
}

html, body, #app, .app-container {
  height: 100%;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-screen {
  font-size: 2.2rem;
}

.home-screen > * {
  margin-bottom: 3rem;
}

::selection {
  background: #4682B4;
}

.questions {
  height: 560px;
  width: 96%;
  margin: 0 auto;
  padding: 56px;
}

.question {
  text-align: center;
  background: linear-gradient(#4682B4, #00BFFF);
  border-radius: 8px;
  font-size: 2.38rem;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  color: white;
}

.modal-content {
  color: #333;
}

.author {
  font-size: 1.8rem;
}

/* Spinner loader */
/* from http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 40px;
  height: 40px;
  background-color: white;

  margin: 100px auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
