:local {
  $light-blue: #00BFFF;
  $white: #FFF;

  .deep-questions-app {
    font-family: Arial;
    background-color: $light-blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 2.2rem;
    padding: 1.1rem;
    text-align: center;

    .home-screen > * {
      margin-top: 3rem;
    }

    .question {
      padding: 11rem 0;
    }
  }
}
