:local {
  $light-blue: #00BFFF;
  $white: #fff;
  $dark-blue: #4682B4;

  .deep-questions-app {
    font-family: Arial;
    background-color: $light-blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 2.2rem;
    padding: 1.1rem;
    text-align: center;

    .home-screen > * {
      margin-top: 3rem;
    }

    ::selection {
      background: $dark-blue;
    }

    .question {
      padding: 18rem 0;
    }

    // from http://tobiasahlin.com/spinkit/
    .spinner {
      width: 40px;
      height: 40px;
      background-color: $white;

      margin: 100px auto;
      animation: sk-rotateplane 1.2s infinite ease-in-out;
    }

    @keyframes :local(sk-rotateplane) {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
  }
}
