:local {
  $light-blue: #00BFFF;
  $white: #FFF;

  .deep-questions-app {
    font-family: Arial;
    background-color: $light-blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 3rem;
  }
}
