body {
  font-family: 'Open Sans';
  background-color: #000;
}

html, body, #app, .app-container {
  height: 100%;
}

/* override bootstrap from stretching the text off the card */
@media (min-width: 768px) {
  .container {
    width: initial;
  }
}

/* For the pager buttons */
a, a:hover, a:focus {
  color: DarkSlateBlue;
}

.pager li > a:hover, .pager li > a:focus {
  background-color: #fff;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-screen {
  color: white;
  font-size: 2.2rem;
}

.home-screen .logo {
  fill: #fff;
  width: 11rem;
}

.home-screen > * {
  margin-bottom: 3rem;
}

::selection {
  background: #4682B4;
}

/* The questions */
.question-screen {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.questions {
  height: 380px;
  width: 400px;
  margin: 0 auto;
  padding: 56px;
}

.question {
  text-align: center;
  background: linear-gradient(#4682B4, #00BFFF);
  border-radius: 8px;
  font-size: 2.45rem;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  color: white;
}

.question .container > * {
  margin-bottom: 3rem;
}

/* The footer */
.footer {
  padding: 3rem 0;
}
/* Spinner loader */
/* from http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 40px;
  height: 40px;
  background-color: white;

  margin: 100px auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
